{% extends "extends/base.html" %}{% load i18n %}{% load static %}
{% block body %}
            <h1 class="text-center">Кандидаты с Вашей планеты:</h1>
{% for candidate in object_list %}
    <div class="candidate_block">
    <h4>{{ candidate }}</h4>
        {% if candidate.answermodel_set.first  %}
            <p>Кандидат дал ответы на вопросы:</p>
            {% for answer in candidate.answermodel_set.all %}
       <strong>{{ forloop.counter }}) {{ answer.question.question }}</strong><br>
        {{ answer.answer }}<br><br>
            {% endfor %}
            <a href="{% url 'main:take_padawan' jedi_pk candidate.pk %}">{% trans 'Взять на обучение!' %}</a>
        {% else %}
        <p>Кандидат зарегистрировался, но не ответил на вопросы...</p>
        {% endif %}
    </div>
    <br>
{% endfor %}
    <h4 class="text-center">{{ msg }}</h4>

{% endblock %}