{% extends "extends/base.html" %}{% load i18n %}{% load static %}
{% block head %}
{% endblock %}
{% block body %}
    <title>Welcome to Jedi Academy!</title>
    <div class="text-center">
    </p><a href="{% url 'main:index' %}">{% trans 'Главная страница' %}</a></p>
    <p><a href="{% url 'main:create_padawan' %}">{% trans 'Для кандидатов' %}</a></p>
    <p><a href="{% url 'main:create_jedi' %}">{% trans 'Добавить Джедая' %}</a></p>
    <p><a href="{% url 'main:choose_jedi' %}">{% trans 'Выбрать своего падавана...' %}</a></p>
    </div>
{% endblock %}